@page "/SampleAdd/{guid}"

@inject ApplicationDbContext dbContext
@inject NavigationManager NavManager

<div class="container">
    <h3>Редактор Шаблонов</h3>
  
    <div class="form-group">
        <label for="sampleName">Название:</label>
        <input id="sampleName" class="form-control" type="text" @bind="@SampleName" />
    </div>

    <div class="form-group">
        <label for="plugin">Плагин:</label>
        <select id="plugin" class="form-control" @bind="@plugin_id">
            @foreach (var plugin in dbContext.Plugins)
            {
                <option value="@plugin.Id">@plugin.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="stateScheme">State Scheme:</label>
        <input id="stateScheme" class="form-control" type="text" @bind="@StateScheme" />
    </div>

    <div class="form-group">
        <label for="description">Описание:</label>
        <input id="description" class="form-control" type="text" @bind="@Description" />
    </div>

    <button class="btn btn-primary" @onclick="@SaveData">Сохранить</button>
</div>


@code {
    [Parameter]
    public string guid { get; set; }

    private string SampleName { get; set; } = "";

    private string plugin_id { get; set; }

    private string StateScheme { get; set; } = "StateScheme";

    private string Description { get; set; } = "Description";

    protected override void OnInitialized()
    {
        plugin_id = dbContext.Plugins.FirstOrDefault().Id;
    }

    private void SaveData()
    {
        dbContext.Samples.Add(new Sample
        {
            Name = SampleName,
            PluginId = plugin_id,
            UserId = 1,
            State = StateScheme,
            Description = Description,
            Color = "#fff"
        });

        dbContext.SaveChanges();
        NavManager.NavigateTo("/");
    }
}