@page "/WorkspaceEditor/{guid}"

@using System.Collections.Generic
@inject ApplicationDbContext dbContext
@inject NavigationManager NavManager
<style>
.editor-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

</style>
<div class="editor-content">
    <h4>WorkspaceEditr</h4>

    <div>
        <label for="workspaceName">Название:</label>
        <input id="workspaceName" type="text" @bind="@WorkspaceName" />
    </div>

    <div>
        <label for="availablePlugins">Доступные плагины</label>
        <ul id="availablePlu/*8gins">
            @foreach (var plugin in dbContext.Plugins)
            {
                <li>
                    <button @onclick='() => AddPluginInWorkspace(plugin.Id)'>@plugin.Name</button>
                </li>
            }
        </ul>
    </div>

    <div>
        <label for="addedPlugins">Добавленные плагины</label>
        <ul id="addedPlugins">
            @foreach (var plugin_id in AddedPlugins)
            {
                <li>@dbContext.Plugins.FirstOrDefault(p => p.Id == plugin_id).Name</li>
            }
        </ul>
    </div>

    <button @onclick="@SaveData">Сохранить</button>

    <button @onclick="@LoadWorkspace">Сохранить и войти</button>

</div>

@code {
    [Parameter]
    public string? guid { get; set; }
    private string WorkspaceName { get; set; } = "";

    // Заменить на свойства с реальными данными
    public List<string> AddedPlugins { get; set; } = new List<string>{};

    public void AddPluginInWorkspace(string plugin_id){
        AddedPlugins.Add(plugin_id);
    }

    private void SaveData()
    {
        dbContext.Workspaces.Add(new Workspace {
            Id = guid,
            Name = WorkspaceName,
            Icon = "",
            Settings = ""
        });
        
        foreach(string plugin_id in AddedPlugins){
            dbContext.WorkspacePluginRelations.Add(new WorkspacePluginRelation{
                WorkspaceId = guid,
                PluginId = plugin_id
            });
        }
        dbContext.SaveChanges();
        dbContext.SaveChanges();
    }
    
    private void LoadWorkspace(){
        SaveData();
        NavManager.NavigateTo("/Workspace/" + guid);
    }
}